<link href='https://unpkg.com/mapillary-js@2.7.0/dist/mapillary.min.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />

<script type="text/javascript" src='https://unpkg.com/mapillary-js@2.7.0/dist/mapillary.min.js'></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>

<link rel="stylesheet" href="{{"/assets/css/leaflet.awesome-markers.css" | prepend: site.baseurl }}">
<script type="text/javascript" src="{{"/assets/js/leaflet.awesome-markers.js" | prepend: site.baseurl  }}"></script>

<link rel="stylesheet" href="{{"/assets/css/gh-fork-ribbon.css"| prepend: site.baseurl }}">
<script type="text/javascript" src="{{"/assets/js/leaflet-providers.js" | prepend: site.baseurl  }}"></script>

<link rel="stylesheet" href="{{"/assets/css/MarkerCluster.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{"/assets/css/MarkerCluster.Default.css" | prepend: site.baseurl }}">
<script type="text/javascript" src="{{"/assets/js/leaflet.markercluster-src.js" | prepend: site.baseurl  }}"></script>

