---
layout: default
---

<div class="home">

  <h1 class="page-heading">Maps</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.maps %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Contribute <a href="{{ "https://github.com/iltempe/jmap" | relative_url }}">on Github</a></p>

</div>
