---
layout: page_map
---
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

<link rel="stylesheet" href="{{"/assets/leaflet.awesome-markers.css" | prepend: site.baseurl }}">
<script type="text/javascript" src="{{"/assets/js/leaflet.awesome-markers.js" | prepend: site.baseurl  }}"></script>

<article class="map">

  <style>
    #map{
      height: 800px;
      width: 700px
    }
  </style>

  <div id="map"></div>

  <script>
    var osmUrl='http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';
    var osmAttrib='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>';

    var Marker = L.AwesomeMarkers.icon({
    icon: '{{page.marker.icon}}',
    prefix: 'fa',
    markerColor: '{{page.marker.color}}'});

    var markerList=[];

    //find the dataset
    {% assign data_file = page.dataset %}
    //find the coordinates in the dataset
    {% for member in site.data[data_file] %}
      markerList.push([{{member.lat}}, {{member.lon}}]);
    {% endfor %}

    // init map
    var map = L.map('map')

    // create the tile layer with correct attribution
    var osm = new L.TileLayer(osmUrl, {minZoom: 6, maxZoom: 19, attribution: osmAttrib});
    var sumLat = 0.;
    var sumLon = 0.;
    var countMarkers=0;
    console.log(Marker);
    //map the markers
    for (var i=0; i<markerList.length; i++) {
            var lat = markerList[i][0];
            var lon = markerList[i][1];
            if (!isNaN(lat) && !isNaN(lon)) {
              var markerLocation = new L.LatLng(lat, lon);
              var marker = new L.Marker(markerLocation, {icon: Marker});
              map.addLayer(marker);
              sumLat += lat;
              sumLon += lon;
              countMarkers++;
            }
    }

    //add the layer
    map.addLayer(osm).setView([sumLat / countMarkers, sumLon / countMarkers], 6);
    </script>

</article>